 .content{
   margin: 10% 0;
 }
 h1{
    text-align: center;
    line-height: 10px;
 }
 #underline{
    text-align: center;
    font-size: 70px;
    line-height: 5px;
    color: rgb(255, 170, 0);
    margin: 0px 0px 60px 0px;
 }
 #para1{
    text-align: center;
 }
 .aside{
    width: 65%;
    margin: 0 0 12px 83px;
    position: relative;
 }
 
 .aside::after
 {
   position: absolute;
   content: "";
   height: 1376px;
   width: 2px;
   background-color: #333;
   right: -21px;
   top: -201px;
 }

 .aside1,.aside2,.aside3,.aside4{
    width: 100%;
    height: 25%;
    float: left;
 }
 .img1{
    width: 40%;
    border-radius: 15px;
    margin: 30px 20px 0px 0px ;
    float: left;
 }
 .aside a{
    margin: 30px 0px 0px 0px;
    width: 50%;
    float: left;
    font-size: 23px;
    font-weight: 900;
    color: black;
 }
 .aside a:hover{
    color: rgb(237, 176, 64);

 }
 .aside h3{
    font-size: 20;
    width: 50%;
    float: left;
    font-weight:100;
    line-height: 40px;
    color: rgb(158, 175, 184);
}

.aside h4{
    font-weight: 100;
    font-size: 22px;
    padding: 0px 0px 40px 0px;
    width: 50%;
    float: left;
 }
 section{
   position: fixed;
   right: 6%;
   top: 39%;
   display: flex;
   flex-direction: column;
   height: 300px;
   justify-content: space-around;
 }

 .section_content__items
 {
   padding: 17px 0;
 }

 h2{
    font-size: 30px;
    color: rgb(237, 176, 64);
    font-weight: 600;
 }
 section a{
    font-size: 23px;
    font-weight: 100;
    color: black;
 }
 section a:hover{
    color: rgb(237, 176, 64);
 }

