

#contact {
  display: flex;
  align-items: center;
  background-color: #313538;
  margin: auto;
  
}

.contact_img {
  height: 100%;
  width: 30%;
}

.contact_img img
{
  height: 100%;
  width: 100%;
}

.contact_img

.contact_title h1 {
  font-size: 38px;
  padding-bottom: 78px;
}

#contact > #form_contact  {
  color: #C69362;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 75%;
}

.contact_input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact_input__child
{
  display: flex;
  flex-direction: column;
}

#contact_submit {
  text-align: center;
}

#contact_submit .submit {
  padding: 23px 51px;
  border-radius: 50px;
  color: #313538;
  letter-spacing: 3px;
  font-size: 17px;
  background-color: #c69362;
  border: none;
}
#contact_submit .submit:hover {
  cursor: pointer;
  opacity: 0.8;
}

.contact_input input {
  width: 810px;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  font-size: 23px;
  margin: 40px 0;
  color: #C69362;
  background-color: #313538;
  padding: 12px 0;
}
.contact_input input::-moz-placeholder {
  color: #C69362;
}
.contact_input input:-ms-input-placeholder {
  color: #C69362;
}
.contact_input input::placeholder {
  color: #C69362;
}
.contact_input input:focus {
  border-bottom: 2px solid rgba(255, 255, 255, 0.676);
}

.invalid {
  color: #a32424 !important;
}