#footer {
    display: flex;
    flex-direction: row;
    background-color: var(--bgrFooter);
    justify-content: space-between;
    align-items: center;
    min-height: 230px;
    width: 100%;
}
.footer__logo__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}
.footer__logo__head h3 {
    font-size: 27px;
    color: var(--while);
}
.footer__logo {
    margin: 0 0 40px 35px;
}
.footer__logo__head img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.footer__logo__member h4 {
    font-size: 13px;
    color: var(--logoFooter);
    font-weight: 500;
}
.footer__logo__member{
    margin-top: 10px;
}
.footer__slogan h1 {
    font-size: 43px;
    color: C69362;
    color: var(--yellow);
}
.address__container {
    display: flex;
    align-items: center;

    margin-bottom: 10px;
}
.address *{
    color: var(--while);
}
.address{
    margin: 25px 35px 40px 0;

}
.address__container i {
    font-size: 20px;
    margin-right: 25px;
    width: 10px;
    /* height: 30px; */
}
.address__container h4 {
    font-size: 15px;
    font-weight: 300;

}